body {
    background: linear-gradient(196deg, rgba(60, 190, 151, 0.97) 0%, rgba(60, 190, 151, 0.00) 100%);
    background-size: cover;
    width: 1440px;
    height: 1024px;
    margin-left: 100px;    
}
#tabela_produtos{
    border: 1px solid;
    width: 50%;
    border-color: #b7ccb9; 
    background-color: #3fad8a;
    border-collapse: collapse;
}
#unidade{
    width: 500px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 2px solid var(--primary-300, #25ffdb);
    margin-left: 50px;
}
#unidade_label{
    width: 500px;
    height: 30px;
    margin-left: 15px;
}
button {
  background-color: #d3e0d4; /* Green */
  border: none;
  color: rgb(10, 4, 4);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: -80px;
  margin-top: 10px;
}
