body {
    background: linear-gradient(196deg, rgba(60, 190, 151, 0.97) 0%, rgba(60, 190, 151, 0.00) 100%);
    background-size: cover;
    width: 1440px;
    height: 1024px;
    margin-left: 100px;    
}